@charset "UTF-8";

* {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

html, body{
    background-color: #9fe7bc;
}

header {
    background-color: gray ;
   
    
}

header > h1 {
    text-align: center;
}

#burger{
    background-color:rgba(31, 31, 31, 0.847) ;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}
#burger:hover {
    background-color: white;
    color: black;
}


menu {
    display: none;
}
menu > ul {
    list-style-type:none ;
}
menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #5e3848;
    color: black;
    border-top: 2px solid gray;
}
menu > ul > li > a:hover {
    background-color: gray;
}

main {
    width: 70vw;
    background-color: #9eaeaa;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    line-height: 2em;
}

article > h2 {
    padding-bottom: 20px;
    text-align: center;
}
article > p {
    text-align: justify;
    text-indent: 20px;
    padding-bottom: 10px;
}