@charset = "UTF-8";
body {
    font-family: "Lexend Peta", sans-serif;
    background-image: linear-gradient(to right , #d6ccd8fb,#949292);
}

main {
    background-color:white ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    background-color: rgb(5, 5, 5);
    font-family: "Lexend Peta", sans-serif;
    font-weight: bold;
    font-size: 3em;
    font-style: italic;
    text-decoration: underline;
    color: aliceblue;
}

h2 {
    
    color: aliceblue;
    font-size: medium;
}

p {
    
    font-size: medium;
    color: #000000;
    text-align: justify;
    text-decoration: underline;
    font-style: italic;
}